<link rel="stylesheet" href="/lib/98css/dist/style.css"></link>
<script>
</script>
<div style="display:flex; justify-content: center; align-items: center">
    <div id="footerId" class="window">
        <div>
            <div class="title-bar">
                <div class="img-and-title-text" style="display: flex">
                    <img class="program-img" src="/assets/images/logos/productions.svg" style="height: 12px; background-color: white; margin-right: 5px" alt="logo">
                    <div class="title-bar-text">
                        footer
                    </div>
                </div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button onclick="body.requestFullscreen()" aria-label="Maximize"></button>
                    <button onclick="window.close();" aria-label="Close"></button>
                </div>
            </div>
        <div id="flex">
            <div class="window-body">
                <ul class="tree-view">
                    <li><a href="/">Home Page</a></li>
                    <li>
                    Bookmarks (drag to bookmarks) (blocked)
                    <ul>
                        <!--<li><a href="javascript:(function()%7Bvar%20privacyBanner%20%3D%20document.querySelectorAll(%22%5Bdata-gg-privacy-banner-anchor%5D%22)%3B%20for(var%20i%20%3D%200%3B%20i%20%3C%20privacyBanner.length%3B%20i%2B%2B)%7B%20privacyBanner%5Bi%5D.parentNode.removeChild(privacyBanner%5Bi%5D)%3B%20%7D%7D)()%3B">Remove Banner</a></li> -->
                        <li><a href="javascript:(t=>{var s=document.createElement(t);s.type='text/java'+t;s.src='https://chardynamics.gitlab.io/projects/window/io.js';document.body.appendChild(s);})('script')">Hidden Window bottom left (hover over with mouse) </a></li>
                        <li><a href="javascript:javascript:(t=>{var s=document.createElement(t);s.type='text/java'+t;s.src='https://chardynamics.gitlab.io/projects/window/2048.js';document.body.appendChild(s);})('script')">2048 Hidden Window bottom left (hover over with mouse) </a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    Projects
                    <ul>
                        <li><a href="/projects/p5svg/">p5svg</a></li>
                        <li><a href="/projects/armor/">Armor</a></li>
                        <li><a href="/projects/muzzl/">Muzzl</a></li>
                        <li><a href="/projects/p5canvas/">p5canvas</a></li>
                        <li><a href="/projects/a-frame/">Prison FC</a></li>
                        <li><a href="/projects/cuberedux/">CubeReduX</a></li>
                        <li><a href="/projects/pens/">Penalty Shootout</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    iFrame Websites (highlighted is new!!)
                    <ul>
                        <li><a href="/projects/iframe/slowroads/"><mark>Slow Roads</mark></a></li>
                        <li><a href="/projects/iframe/bitlife/"><mark>BitLife</mark></a></li>
                        <li><a href="/projects/iframe/blockblast/"><mark>Block Blast</mark></a></li>    
                        <li><a href="/projects/iframe/drifthunters/">Drift Hunters</a></li>
                        <li><a href="https://geometry.monster/">Shell Shockers</a></li>
                        <li><a href="/projects/iframe/shellshockers/bypasses/">List of Shell Shockers bypasses</a></li>
                        <li><a href="/projects/iframe/timewaster/">Time Waster</a></li>
                        <li><a href="/projects/iframe/sm64web/">Super Mario 64 (Web Port)</a></li>
                        <li><a href="/projects/iframe/gettingoverit/">Getting Over It</a></li>
                        <li><a href="/projects/iframe/ducklife3/">Duck Life 3</a></li>
                        <li><a href="/projects/iframe/ducklife4/">Duck Life 4</a></li>
                        <li><a href="https://rawcdn.githack.com/chardynamics/neverending-legacy-mirror/c9c0fc714efcb4488d8047f543b6b31b7e6e91e0/index.html">Neverending Legacy</a></li>
                        <li><a href="https://rawcdn.githack.com/ozh/cookieclicker/8a4d351203b30100ff511f854efdf5eff1879b57/index.html">Cookie Clicker</a></li>
                        <li><a href="/projects/iframe/slope/">Slope</a></li>
                        <li><a href="/projects/iframe/hextris/">Hextris</a></li>
                        <li><a href="/projects/iframe/paperio2/">Paper.io 2</a></li>
                        <li><a href="/projects/iframe/retrobowl/">Retro Bowl</a></li>
                        <li><a href="/projects/iframe/MarioVsLuigi-WebGL/">Mario vs Luigi</a></li>
                        <li><a href="/projects/iframe/nzpreboot/">NZP Reboot (test it out)</a></li>
                        <li><a href="https://rawcdn.githack.com/gabrielecirulli/2048/fc1ef4fe5a5fcccea7590f3e4c187c75980b353f/index.html">2048</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    Two Player Games (there are other two player games)
                    <ul>
                        <li><a href="/projects/twoplayer/basketrandom/">Basket Random</a></li>
                        <li><a href="/projects/twoplayer/soccerrandom/">Soccer Random</a></li>
                        <li><a href="/projects/twoplayer/boxingrandom/">Boxing Random</a></li>
                        <li><a href="/projects/twoplayer/getontop/">Get on Top</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    Red Ball Games
                    <ul>
                        <li><a href="/projects/redballs/redball/">Red Ball</a></li>
                        <li><a href="/projects/redballs/redball2/">Red Ball 2</a></li>
                        <li><a href="/projects/redballs/redball3/">Red Ball 3</a></li>
                        <li><a href="/projects/redballs/redball4/">Red Ball 4</a></li>
                        <li><a href="/projects/redballs/redball4volume2/">Red Ball 4 Volume 2</a></li>
                        <li><a href="/projects/redballs/redball4volume3/">Red Ball 4 Volume 3</a></li>
                        <li><a href="/projects/redballs/rabb/">Red & Blue Balls</a></li>
                        <li><a href="/projects/redballs/rabb2/">Red & Blue Balls 2</a></li>
                        <li><a href="/projects/redballs/rabb3/">Red & Blue Balls 3</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    Flash Websites
                    <ul>
                        <li><a href="/projects/flash/papaspizzeria/">Papa's Pizzeria</a></li>
                        <li><a href="/projects/flash/papasburgeria/">Papa's Burgeria</a></li>
                        <li><a href="/projects/flash/papastacomia/">Papa's Taco Mia</a></li>
                        <li><a href="/projects/flash/papalouie/">Papa Louie</a></li>
                        <li><a href="/projects/flash/meatboy/">Meat Boy</a></li>
                        <li><a href="/projectsflash/sugarsugar/">Sugar Sugar</a></li>
                        <li><a href="/projects/flash/sugarsugar2/">Sugar Sugar 2</a></li>
                        <li><a href="/projects/flash/theworldshardestgame/">The World's Hardest Game</a></li>
                        <li><a href="/projects/flash/theworldshardestgame2/">The World's Hardest Game 2</a></li>
                        <li><a href="/projects/flash/raftwars/">Raft Wars</a></li>
                        <li><a href="/projects/flash/raftwars2/">Raft Wars 2</a></li>
                        <li><a href="/projects/flash/bloonstd/">Bloons Tower Defense</a></li>
                        <li><a href="/projects/flash/bloonstd2/">Bloons Tower Defense 2</a></li>
                        <li><a href="/projects/run3/">Run 3</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    Emulators
                    <ul>
                        <li><a href="/projects/emulators/gbaninja/">gba.ninja (blocked)</a></li>
                        <li><a href="https://ds.44670.org/">DS Player</a></li>
                        <li><a href="/projects/emulators/n64wasm/">N64 Wasm</a></li>
                        <li><a href="/projects/emulators/webretro/">webretro</a></li>
                        <li><a href="/projects/emulators/waflash/">waflash</a></li>
                        <li><a href="/projects/emulators/enge/">eNGE</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li>
                    External Websites
                    <ul>
                        <li><a href="https://funkykarts.rocks/demo.html">Funky Karts Demo</a></li>
                        <li><a href="https://wasm.continuation-labs.com/d3demo/">d3wasm (blocked)</a></li>
                        <li><a href="https://rawcdn.githack.com/Sc000p/subway-surfers-unity/525eb141f50292d6a83ae60acd6b5849ec651155/">Subway Surfers</a></li>
                        <li><a href="https://rawcdn.githack.com/MDtowerz/retro-bowl-college/d5e211826acf4b15d537a1cd84b663ab66714254/index.html">Retro Bowl College</a></li>
                        <li><a href="https://yohohox.club/">Yohoho</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>